{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nagy képkollekciok online megjelenitése</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="{% static 'client/js/sketch.js' %}"></script>
    <script src="{% static 'client/js/ImageService.js' %}"></script>
    <script src="{% static 'client/js/ImageData.js' %}"></script>
    <script src="{% static 'client/js/util.js' %}"></script>
</head>
<body>
    <div style="float: right; width: 10%; ">
        <button id="loadBtn">Load</button>
        <button id="rndBtn">Random</button>
        <button id="revBtn">Reverse</button>
        <button id="histBtn">Histogram</button>
        <div>
        <div>
            <p id="loading" style="visibility: hidden">Loading...</p>
        </div>
    </div>
</body>
</html>