{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nagy képkollekciok online megjelenitése</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="{% static 'client/js/sketch.js' %}"></script>
    <script src="{% static 'client/js/ImageService.js' %}"></script>
    <script src="{% static 'client/js/ImageData.js' %}"></script>
    <script src="{% static 'client/js/util.js' %}"></script>
</head>
<body>
    <div style="float: right; width: 10%; ">
        <div>
            <label for="size">Number of images:</label>

            <select name="size" id="sizes">
                <option value="1000">1k</option>
                <option value="10000">10k</option>
                <option value="20000">20k</option>
                <option value="40000">40k</option>
            </select>
        </div>
        <button id="loadBtn" onclick="loadImages()">Load</button>
        <button id="rndBtn" onclick="randomImages()">Random</button>
        <button id="revBtn" onclick="reverseImages()">Reverse</button>
        <button id="histBtn" onclick="histogram()">Histogram</button>
        <div>
            <p id="loading" style="visibility: hidden">Loading...</p>
        </div>
    </div>
</body>
</html>