{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nagy képkollekciok online megjelenitése</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="{% static 'client/js/sketch.js' %}"></script>
    <script src="{% static 'client/js/ImageService.js' %}"></script>
    <script src="{% static 'client/js/SpinnerService.js' %}"></script>
    <script src="{% static 'client/js/ImageData.js' %}"></script>
    <script src="{% static 'client/js/util.js' %}"></script>
</head>
<body>
    <div style="float: right; width: 10%; ">
        <div>
            <label for="size">Number of images:</label>

            <select name="size" id="sizes">
                <option value="1000">1k</option>
                <option value="10000">10k</option>
                <option value="20000">20k</option>
                <option value="40000">40k</option>
            </select>
        </div>
        <div>
            <label for="imageSelectionMode">Selection mode:</label>

            <select name="selection-mode" id="imageSelectionMode">
                <option value="single">Single</option>
                <option value="column">Column</option>
            </select>
        </div>
        <button id="loadBtn" onclick="loadImages()">Load</button>
        <button id="rndBtn" onclick="randomImages()">Random</button>
        <button id="revBtn" onclick="reverseImages()">Reverse</button>
        <div>
            <hr/>
            <button id="histBtn" onclick="histogram()">Histogram</button>
            <b>Histogram between:</b>
            <p id="date"></p>
        </div>
        <div>
            <hr/>
            <label for="tweet">Get images by tweet:</label>

            <input type="text" id="tweet"/>
            <button id="loadByTweetBtn" onclick="loadImagesByKeyword()">Load</button>
        </div>
        <div id="imgData" style="display: none;">
            <hr/>
            <b>Selected image's data:</b>
            Tweet:
            <p id="tweetTxt"></p>
            Date:
            <label id="tweetDate"></label>
            Image:
            <img id="tweetImg"/>
        </div>
    </div>
</body>
</html>